<% @questions.each do |question|%>
<div class="card">
<div class="col-sm-8">
    <div class="card-title">
        <div class="d-inline">
            <%=link_to question.topic, question_path(question)%>
        </div>
        <% if signed_in? %>
        <div  class="d-inline">
            <%= link_to 'Eliminar', question,method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } , class:"btn btn-primary" %>
        </div>
        <% end %>
    </div>
    <div class="card-body">

        <p class="card-text">Aqui va quien la publico
            <%=question.created_at%>
        </p>
    </div>
</div>
</div>
<% end %>