<h1>
    <%=@question.topic%>
</h1>
<p>
    <%=@question.description%>
</p>
<% if signed_in? && @question.user == current_user %>
<div class="actions">
    <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_question_path(@question) %>
    <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, @question, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
</div> <% end %>    