<nav class="h4 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">F_OverStack</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <%= link_to 'Home', root_path, class:"nav-item nav-link" %>
        
        <%= link_to 'Ingresar', login_path, class:"nav-item nav-link" %>
        
        <%= link_to 'Registrarse', new_user_path, class:"nav-item nav-link" %>
    </div>
  </div>
</nav>